<mat-card>
  <mat-card-content>
    <div class="taskboard page-height" cdkDropListGroup>

      <div class="taskboard-wrapper">
        <div class="taskboard-list todos">
          <div class="taskboard-header text-uppercase" >
            <strong>Todo</strong>
          </div>
          <div class="taskboard-cards" [cdkDropListData]="todos" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (task of todos; track task) {
              <div class="taskboard-task" cdkDrag [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list inprogress">
          <div class="taskboard-header text-uppercase" >
            <strong>Inprogress</strong>
          </div>
          <div class="taskboard-cards" [cdkDropListData]="inprogress" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (task of inprogress; track task) {
              <div class="taskboard-task" cdkDrag [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list onhold">
          <div class="taskboard-header text-uppercase" >
            <strong>Onhold</strong>
          </div>
          <div class="taskboard-cards" [cdkDropListData]="onhold" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (task of onhold; track task) {
              <div class="taskboard-task" cdkDrag [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            }
          </div>
        </div>
      </div>


      <div class="taskboard-wrapper">
        <div class="taskboard-list completed">
          <div class="taskboard-header text-uppercase" >
            <strong>Completed</strong>
          </div>
          <div class="taskboard-cards" [cdkDropListData]="completed" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (task of completed; track task) {
              <div class="taskboard-task" cdkDrag [ngClass]="task.class">
                <div class="taskboard-task-title">{{task.title}}</div>
                <span class="task-decription">{{task.description}}</span>
              </div>
            }
          </div>
        </div>
      </div>





    </div>
  </mat-card-content>
</mat-card>