<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
  <!-- User profile image -->
  <div class="profile-img">
    <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text">
      <a [matMenuTriggerFor]="sdprofile" class=""> Markarn Doe
        <i class="ti-angle-down font-12 m-l-5"></i>
      </a>
    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings
      </button>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out
      </button>
    </mat-menu>
  </div>

  <mat-nav-list appAccordion>
    <mat-list-item *ngFor="let menuitem of menuItems.getMenuitem()" appAccordionLink routerLinkActive="selected" [group]="menuitem.state" (click)="scrollToTop()">
      <a *ngIf="menuitem.type === 'link'" class="" appAccordionToggle [routerLink]="['/', menuitem.state]">
        <mat-icon>{{ menuitem.icon }}</mat-icon>
        <span>{{ menuitem.name | translate }}</span>
        <span fxFlex></span>
        <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
      </a>
      <a *ngIf="menuitem.type === 'extLink'" class="" appAccordionToggle [href]="menuitem.state">
        <mat-icon>{{ menuitem.icon }}</mat-icon>
        <span>{{ menuitem.name | translate }}</span>
        <span fxFlex></span>
        <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
      </a>
      <a *ngIf="menuitem.type === 'extTabLink'" class="" appAccordionToggle [href]="menuitem.state" target="_blank">
        <mat-icon>{{ menuitem.icon }}</mat-icon>
        <span>{{ menuitem.name | translate}}</span>
        <span fxFlex></span>
        <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
      </a>
      <a *ngIf="menuitem.type === 'sub'" class="" appAccordionToggle href="javascript:;">
        <mat-icon>{{ menuitem.icon }}</mat-icon>
        <span>{{ menuitem.name | translate }}</span>
        <span fxFlex></span>
        <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
        <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
      </a>
      <mat-nav-list *ngIf="menuitem.type === 'sub'" class="sub-item">
        <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="selected">
          <a *ngIf="childitem.type === 'link'" [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" routerLinkActive="selected" (click)="itemSelect[i]=j">{{ childitem.name | translate}}</a>
        </mat-list-item>
      </mat-nav-list>
      <div *ngIf="menuitem.type === 'saperator'" class="saperator text-muted">
        <span>{{ menuitem.name | translate }}</span>
      </div>
    </mat-list-item>
  </mat-nav-list>