<mat-card>
  <mat-card-content>
    <mat-card-title>Multiple Select</mat-card-title>
    <mat-form-field class="w-100">
      <mat-label>Choose cities</mat-label>
      <mat-select [(ngModel)]="selectedItems" multiple>
        @for (city of dropdownList; track city.item_id) {
          <mat-option [value]="city">{{ city.item_text }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="m-t-40">
      <mat-card-title>Single Select</mat-card-title>
      <mat-form-field class="w-100">
        <mat-label>Choose one city</mat-label>
        <mat-select [(ngModel)]="singleselectedItem" name="city">
          @for (city of cities; track city.item_id) {
            <mat-option [value]="city">{{ city.item_text }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
